"*":
  autosave:
    enabled: true
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
    wrapSelectionsInBrackets: false
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "about"
      "archive-view"
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-plus"
      "autocomplete-snippets"
      "autoflow"
      "background-tips"
      "bookmarks"
      "command-palette"
      "deprecation-cop"
      "dev-live-reload"
      "encoding-selector"
      "exception-reporting"
      "fuzzy-finder"
      "git-diff"
      "github"
      "go-to-line"
      "grammar-selector"
      "image-view"
      "incompatible-packages"
      "keybinding-resolver"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-git"
      "language-go"
      "language-java"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-property-list"
      "language-python"
      "language-ruby-on-rails"
      "language-ruby"
      "language-sass"
      "language-shellscript"
      "language-sql"
      "language-todo"
      "language-toml"
      "language-xml"
      "language-yaml"
      "line-ending-selector"
      "link"
      "markdown-preview"
      "metrics"
      "open-on-github"
      "package-generator"
      "snippets"
      "spell-check"
      "status-bar"
      "styleguide"
      "symbols-view"
      "timecop"
      "tree-view"
      "update-package-dependencies"
      "welcome"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "bracket-matcher"
      "find-and-replace"
      "notifications"
      "sort-lines"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
    warnOnLargeFileLimit: 1
  editor:
    atomicSoftTabs: false
    autoIndentOnPaste: false
    fontFamily: "monospace"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.3
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "find-and-replace":
    liveSearchMinimumCharacters: 2
    scrollToResultOnLiveSearch: true
  minimap:
    charHeight: 1
    devicePixelRatioRounding: false
    displayPluginsControls: false
    ignoreWhitespacesInTokens: true
    smoothScrolling: false
    textOpacity: 1
  tabs: {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    keepMarkdownLineBreakWhitespace: false
