'atom-text-editor':
  'cmd-,': 'none!'
  'cmd-/': 'none!'
  'cmd-alt-z': 'none!'
  'cmd-c': 'editor:copy-selection'
  'cmd-d': 'editor:delete-line'
  'cmd-j': 'none!'
  'cmd-l': 'go-to-line:toggle'
  'cmd-n': 'none!'
  'cmd-r': 'sort-lines:case-insensitive-sort'
  'cmd-shift-d': 'none!'
  'cmd-shift-r': 'sort-lines:reverse'
  'cmd-shift-w': 'none!'
  'cmd-t': 'application:new-file'
  'cmd-u': 'none!'
  'cmd-v': 'editor:paste-without-reformatting'
  'ctrl-,': 'none!'
  'ctrl-/': 'none!'
  'ctrl-c': 'editor:copy-selection'
  'ctrl-d': 'editor:delete-line'
  'ctrl-g': 'none!'
  'ctrl-j': 'none!'
  'ctrl-l': 'go-to-line:toggle'
  'ctrl-n': 'none!'
  'ctrl-r': 'sort-lines:case-insensitive-sort'
  'ctrl-shift-d': 'none!'
  'ctrl-shift-r': 'sort-lines:reverse'
  'ctrl-shift-w': 'none!'
  'ctrl-t': 'application:new-file'
  'ctrl-u': 'none!'
  'ctrl-v': 'editor:paste-without-reformatting'
