'atom-text-editor':
  'end': 'unset!'
  'home': 'unset!'
  'shift-end': 'unset!'
  'shift-home': 'unset!'
'atom-text-editor:not([mini])':
  'ctrl-d': 'editor:delete-line'
  'ctrl-shift-C': 'unset!'
  'ctrl-shift-K': 'unset!'
  'shift-tab': 'unset!'
'atom-workspace atom-pane':
  'ctrl-alt--': 'unset!'
  'ctrl-alt-=': 'unset!'
'atom-workspace atom-text-editor':
  'alt-backspace': 'unset!'
  'alt-delete': 'unset!'
  'alt-left': 'unset!'
  'alt-right': 'unset!'
  'alt-shift-left': 'unset!'
  'alt-shift-right': 'unset!'
  'ctrl-/': 'unset!'
  'ctrl-alt-shift-P': 'unset!'
  'ctrl-backspace': 'unset!'
  'ctrl-delete': 'unset!'
  'ctrl-end': 'unset!'
  'ctrl-home': 'unset!'
  'ctrl-k ctrl-l': 'unset!'
  'ctrl-k ctrl-u': 'unset!'
  'ctrl-l': 'unset!'
  'ctrl-left': 'unset!'
  'ctrl-right': 'unset!'
  'ctrl-shift-end': 'unset!'
  'ctrl-shift-home': 'unset!'
  'ctrl-shift-left': 'unset!'
  'ctrl-shift-right': 'unset!'
'atom-workspace atom-text-editor:not([mini])':
  'alt-shift-down': 'unset!'
  'alt-shift-up': 'unset!'
  'ctrl-[': 'unset!'
  'ctrl-]': 'unset!'
  'ctrl-<': 'unset!'
  'ctrl-alt-[': 'unset!'
  'ctrl-alt-]': 'unset!'
  'ctrl-alt-{': 'unset!'
  'ctrl-alt-}': 'unset!'
  'ctrl-alt-f': 'unset!'
  'ctrl-alt-z': 'unset!'
  'ctrl-enter': 'unset!'
  'ctrl-j': 'unset!'
  'ctrl-k ctrl-0': 'unset!'
  'ctrl-k ctrl-1': 'unset!'
  'ctrl-k ctrl-2': 'unset!'
  'ctrl-k ctrl-3': 'unset!'
  'ctrl-k ctrl-4': 'unset!'
  'ctrl-k ctrl-5': 'unset!'
  'ctrl-k ctrl-6': 'unset!'
  'ctrl-k ctrl-7': 'unset!'
  'ctrl-k ctrl-8': 'unset!'
  'ctrl-k ctrl-9': 'unset!'
  'ctrl-shift-D': 'unset!'
  'ctrl-shift-enter': 'unset!'
'body':
  'alt-1': 'unset!'
  'alt-2': 'unset!'
  'alt-3': 'unset!'
  'alt-4': 'unset!'
  'alt-5': 'unset!'
  'alt-6': 'unset!'
  'alt-7': 'unset!'
  'alt-8': 'unset!'
  'alt-9': 'unset!'
  'alt-shift-left': 'unset!'
  'alt-shift-right': 'unset!'
  'ctrl-,': 'unset!'
  'ctrl-alt-o': 'unset!'
  'ctrl-alt-p': 'unset!'
  'ctrl-f': 'find-and-replace:show'
  'ctrl-f4': 'unset!'
  'ctrl-g': 'find-and-replace:find-next'
  'ctrl-insert': 'unset!'
  'ctrl-k ctrl-alt-w': 'unset!'
  'ctrl-k ctrl-down': 'unset!'
  'ctrl-k ctrl-left': 'unset!'
  'ctrl-k ctrl-n': 'unset!'
  'ctrl-k ctrl-p': 'unset!'
  'ctrl-k ctrl-right': 'unset!'
  'ctrl-k ctrl-up': 'unset!'
  'ctrl-k ctrl-w': 'unset!'
  'ctrl-k down': 'unset!'
  'ctrl-k left': 'unset!'
  'ctrl-k right': 'unset!'
  'ctrl-k up': 'unset!'
  'ctrl-n': 'unset!'
  'ctrl-o': 'unset!'
  'ctrl-pagedown': 'unset!'
  'ctrl-pageup': 'unset!'
  'ctrl-q': 'unset!'
  'ctrl-r': 'sort-lines:sort'
  'ctrl-shift-g': 'find-and-replace:find-previous'
  'ctrl-shift-I': 'unset!'
  'ctrl-shift-J': 'window:toggle-dev-tools'
  'ctrl-shift-N': 'unset!'
  'ctrl-shift-O': 'unset!'
  'ctrl-shift-pagedown': 'unset!'
  'ctrl-shift-pageup': 'unset!'
  'ctrl-shift-S': 'unset!'
  'ctrl-shift-T': 'unset!'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'unset!'
  'ctrl-shift-W': 'unset!'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'unset!'
  'ctrl-y': 'unset!'
  'f11': 'unset!'
  'shift-delete': 'unset!'
  'shift-insert': 'unset!'
  'shift-pagedown': 'unset!'
  'shift-pageup': 'unset!'
