body{
    background: #000;
    color: #aaa;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
canvas{
    border-bottom: 4px solid #333;
    cursor: pointer;
    position: fixed;
    top: 0;
    width: 100%;
}
#controls{
    position: fixed;
    right: 60%;
    text-align: right;
    top: 55px;
}
.hidden{
    display: none;
}
input{
    background: #000;
    border-color: #aaa;
    color: #aaa;
    font-size: 142%;
    vertical-align: middle;
    width: 75px;
}
input[type=button],
input[type=checkbox],
input[type=range],
label{
    cursor: pointer;
}
input[type=button]{
    width: auto;
}
input[type=checkbox]{
    height: 20px;
    width: 20px;
}
.playing{
    background: #222;
}
table{
    border-collapse: collapse;
    margin: 55px 0 0 40%;
}
td{
    border: 1px solid #777;
    padding: 5px;
    text-align: right;
}
#track{
    font-size: 123%;
    padding: 5px;
}
