// Generic .eslintrc file.
{
  "emcafeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "experimentalObjectRestSpread": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "globalReturn": true,
    "jsx": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true
  },

  "globals": {},

  "env": {
    "applescript": false,
    "amd": false,
    "browser": false,
    "commonjs": false,
    "embertest": false,
    "es6": false,
    "jasmine": false,
    "jest": false,
    "jquery": false,
    "meteor": false,
    "mocha": false,
    "mongo": false,
    "nashorn": false,
    "node": false,
    "phantomjs": false,
    "prototypejs": false,
    "protractor": false,
    "qunit": false,
    "serviceworker": false,
    "shelljs": false,
    "webextensions": false,
    "worker": false
  },

  "parser": "esprima",

  "plugins": {},

  "rules": {
    "accessor-pairs": 1,
    "block-scoped-var": 1,
    "comma-dangle": 1,
    "consistent-return": 1,
    "curly": 1,
    "default-case": 1,
    "dot-notation": 1,
    "eol-last": 1,
    "eqeqeq": 1,
    "func-names": 1,
    "guard-for-in": 1,
    "id-length": 1,
    "linebreak-style": 1,
    "new-cap": 1,
    "new-parens": 1,
    "no-alert": 1,
    "no-array-constructor": 1,
    "no-caller": 1,
    "no-case-declarations": 1,
    "no-catch-shadow": 1,
    "no-cond-assign": 1,
    "no-console": 1,
    "no-constant-condition": 1,
    "no-continue": 1,
    "no-control-regex": 1,
    "no-debugger": 1,
    "no-delete-var": 1,
    "no-div-regex": 1,
    "no-dupe-args": 1,
    "no-dupe-keys": 1,
    "no-duplicate-case": 1,
    "no-else-return": 1,
    "no-empty": 1,
    "no-empty-character-class": 1,
    "no-empty-label": 1,
    "no-empty-pattern": 1,
    "no-eq-null": 1,
    "no-eval": 1,
    "no-ex-assign": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": 1,
    "no-extra-semi": 1,
    "no-fallthrough": 1,
    "no-floating-decimal": 1,
    "no-func-assign": 1,
    "no-implicit-coercion": 1,
    "no-implied-eval": 1,
    "no-inline-comments": 1,
    "no-inner-declarations": 1,
    "no-invalid-regexp": 1,
    "no-invalid-this": 1,
    "no-irregular-whitespace": 1,
    "no-iterator": 1,
    "no-labels": 1,
    "no-label-var": 1,
    "no-lone-blocks": 1,
    "no-lonely-if": 1,
    "no-loop-func": 1,
    "no-magic-numbers": 1,
    "no-multi-spaces": 1,
    "no-multi-str": 1,
    "no-native-reassign": 1,
    "no-negated-condition": 1,
    "no-negated-in-lhs": 1,
    "no-nested-ternary": 1,
    "no-new": 1,
    "no-new-func": 1,
    "no-new-object": 1,
    "no-new-wrappers": 1,
    "no-obj-calls": 1,
    "no-octal": 1,
    "no-octal-escape": 1,
    "no-param-reassign": 1,
    "no-process-env": 1,
    "no-proto": 1,
    "no-redeclare": 1,
    "no-regex-spaces": 1,
    "no-return-assign": 1,
    "no-script-url": 1,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-shadow": 1,
    "no-shadow-restricted-names": 1,
    "no-spaced-func": 1,
    "no-sparse-arrays": 1,
    "no-ternary": 1,
    "no-throw-literal": 1,
    "no-trailing-spaces": 1,
    "no-undef": 1,
    "no-undef-init": 1,
    "no-undefined": 1,
    "no-unexpected-multiline": 1,
    "no-unneeded-ternary": 1,
    "no-unreachable": 1,
    "no-unused-expressions": 1,
    "no-unused-vars": 1,
    "no-use-before-define": 1,
    "no-useless-call": 1,
    "no-useless-concat": 1,
    "no-void": 1,
    "no-warning-comments": 1,
    "no-with": 1,
    "quotes": [2, "double"],
    "radix": 1,
    "require-jsdoc": 1,
    "semi": 1,
    "sort-vars": 1,
    "space-after-keywords": 1,
    "space-before-blocks": 1,
    "space-before-function-paren": 1,
    "space-infix-ops": 1,
    "space-return-throw-case": 1,
    "space-unary-ops": 1,
    "use-isnan": 1,
    "valid-jsdoc": 1,
    "valid-typeof": 1,
    "vars-on-top": 1,
    "wrap-iife": 1,
    "wrap-regex": 1,
    "yoda": 1
  },

  "settings": {}
}
