body{
    background: #000;
    color: #aaa;
    font-family: sans-serif;
    text-align: center;
}
div{
    display: inline-block;
    line-height: 1.5em;
}
hr{
    border: 2px solid #333;
}
input{
    background: #000;
    color: #aaa;
    text-align: center;
}
input[type=button]{
    cursor: pointer;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
