ErrorDocument 403 http://iterami.com/hayride
ErrorDocument 404 http://iterami.com/hayride
ExpiresActive On
ExpiresDefault A172800
ExpiresByType application/x-javascript A172800
ExpiresByType image/png A2592000
ExpiresByType text/css A345600
ExpiresByType text/html A345600
ExpiresByType text/javascript A345600
<filesMatch "\.(png|wav)$">
ExpiresDefault A2592000
Header append Cache-Control "public"
</filesMatch>
<filesMatch "\.(css|html|js)$">
ExpiresDefault A172800
Header append Cache-Control "private, must-revalidate"
</filesMatch>
